<!DOCTYPE>
<html>
<head>
  <title>ChopstixApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "slider" %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "slider" %>
  <%= csrf_meta_tags %>

  <div id='cssmenu'>
    <ul>
      <li class='active'><a href='/'><span>Home</span></a></li>
      <li><a href='/pages/about/'><span>About Us</span></a></li>
      <li><a href='/pages/menu/'><span>Menu</span></a></li>
      <li class='last'><a href='/pages/contact/'><span>Contact Us</span></a></li>
    </ul>
  </div>

  <body class="HolyGrail">
      <head>
        <title>Chopstix Chinese Restaurant | <%= @title %></title>
      </head>
      <div class="HolyGrail-body">
        <main class="HolyGrail-content">
           <%= yield %>
        </main>
        <nav class="HolyGrail-nav"></nav>
        <aside class="HolyGrail-ads"></aside>
      </div>
      <footer>
        <p>Copyright © 2014 | Damien Chan</p>
      </footer>
  </body>

</html>